.logo {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
}

.headerLayout {
  margin: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

a {
  text-decoration: none;
}

i {
  font-size: 2rem;
  margin: 10px 15px;
}
